/* @import "bootstrap.min.css"; */

svg 
{
    border: 1px solid black;
}

.navbar
{
    background-color: #6200ee;
}

.navbar-brand
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-right 
{
    padding-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-nav
{
    margin-top: 0px;
    margin-bottom: 0px;
}

.glyphicon
{
    color: white;
}